:root {
  --background-color: #fff;
  --accent-1-color: #fafafa;
  --accent-2-color: #eaeaea;
  --accent-3-color: #999;
  --accent-4-color: #888;
  --accent-5-color: #666;
  --accent-6-color: #444;
  --accent-7-color: #333;
  --accent-8-color: #111;
  --foreground-color: #000;

  --status-success-lighter-color: #d3e5ff;
  --status-success-light-color: #3291ff;
  --status-success-default-color: #0070f3;
  --status-success-dark-color: #0761d1;

  --status-error-lighter-color: #f7d4d6;
  --status-error-light-color: #ff1a1a;
  --status-error-default-color: #e00;
  --status-error-dark-color: #c50000;

  --status-warning-lighter-color: #ffefcf;
  --status-warning-light-color: #f7b955;
  --status-warning-default-color: #f5a623;
  --status-warning-dark-color: #ab570a;

  --status-cyan-lighter-color: #aaffec;
  --status-cyan-light-color: #79ffe1;
  --status-cyan-default-color: #50e3c2;
  --status-cyan-dark-color: #29bc9b;

  --status-violet-lighter-color: #e3d7fc;
  --status-violet-light-color: #8a63d2;
  --status-violet-default-color: #7928ca;
  --status-violet-dark-color: #4c2889;

  --status-highlight-alert: #ff0080;
  --status-highlight-purple: #f81ce5;
  --status-highlight-magenta: #eb367f;

  --spinner-blade-color: #000;
}

.dark {
  --background-color: #000;
  --accent-1-color: #111;
  --accent-2-color: #333;
  --accent-3-color: #444;
  --accent-4-color: #666;
  --accent-5-color: #888;
  --accent-6-color: #999;
  --accent-7-color: #eaeaea;
  --accent-8-color: #fafafa;
  --foreground-color: #fff;

  --spinner-blade-color: #fff;
}
